h1{
    font-size:90px;
    letter-spacing:1px;
    color: rgba(255, 255, 255, 0.637);
    background-color:rgb(0, 0, 0);
    text-align:center;
}
body{
    background-image:url(finalmedia.png);
    background-repeat:no-repeat;
    background-size: 100% 155%;
    background-position:center;
    margin:auto;
    padding: 2%;
}
.inputarea{
    font-size:40px;
    color:aliceblue;
    background-color:rgba(0, 0, 0, 0.678);
    margin-left:auto;
    margin-right:auto;
    padding:50px;
    padding-top:15px;
    max-width:500px;
}
input, select{
    width:50%;
    height:40px;
    font-size:25px;
    margin-bottom:10px;
    font-family:'AR'; 
}
.converter{
    width:20%;
    height:50px;
    font-size:20px;
    font-weight:bold;
}
#result{
    font-size:30px;
    color:#ffffff;
    text-align:center;
    letter-spacing:1px;
    margin-top:20px;
} 
hr{
    border:1px solid #fff;
    margin:20px 0;
}
label{
    font-size:28px;
}
