h1{
    font-size: 90px;
    letter-spacing: 1px;
    color: rgba(255, 255, 255, 0.637);
    background-color:rgb(0, 0, 0);
    padding-bottom:16px;
    margin-top: 17px;
}
body{
    background-image: url(finalmedia.png);
    background-repeat: no-repeat;
    background-size:1950px 1200px;
    background-position: center;   
}
#main-area{
    font-size: 40px;
    color:aliceblue;
    background-color: rgba(0, 0, 0, 0.678);
    padding:60px;
    width: 550px;
    margin: auto;
}
label{
    font-size: 30px;
    letter-spacing: 1px;
}
input{
    width: 200px;
    height: 40px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px; 
}
select{
    font-size: 20px;
    font-family: AR;
    width: 200px;
    height: 50px;
    padding: auto;
    font-weight: bold;
}
.converter{
    width: 100px;
    height: 50px;
    font-size: 20px;
    padding: 11px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}
#result{
    font-size: 24px;
    color: #ffffff;
    text-align: center;
    letter-spacing: 1px; 
}
  